# Project exclude paths
/.gradle/
/Problems/A small version of the Battleship game/out/
/Problems/A small version of the Battleship game/out/production/classes/
/Problems/Beyond the word/out/
/Problems/Beyond the word/out/production/classes/
/Problems/Cutting out the middle of a string/out/
/Problems/Cutting out the middle of a string/out/production/classes/
/Problems/Floor-space of the room/out/
/Problems/Floor-space of the room/out/production/classes/
/Problems/Generating passwords/out/
/Problems/Generating passwords/out/production/classes/
/Problems/Individual taxes/out/
/Problems/Individual taxes/out/production/classes/
/Problems/Right Rotation/out/
/Problems/Right Rotation/out/production/classes/
/Problems/Triples/out/
/Problems/Triples/out/production/classes/
/Problems/Unique characters/out/
/Problems/Unique characters/out/production/classes/
/Tic-Tac-Toe/task/build/
/Tic-Tac-Toe/task/out/
/Tic-Tac-Toe/task/out/production/classes/